default.html

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site.title }} - {{ page.title }}</title>
    <link rel="stylesheet" href="{{ "/custom.css" | relative_url }}">
</head>
<body>
    <header id="header">
        <div class="cipher">
            @Nyra
        </div>
        <nav class="nav-links">
            <a href="{{ "/" | relative_url }}"
               {% if page.url == "/" %}class="active"{% endif %}>
               Home
            </a>
        
            <a href="{{ "/blog/" | relative_url }}"
               {% if page.url == "/blog/" %}class="active"{% endif %}>
               Blog
            </a>
        
            <a href="{{ "/writeups/" | relative_url }}"
               {% if page.url == "/writeups/" %}class="active"{% endif %}>
               Writeups
            </a>
        </nav>
        
    </header>
    
    <main class="home-container">
        {{ content }}
    </main>
    
    <!-- <footer>
        <p>&copy; 2024 {{ site.title }}. All rights reserved.</p>
    </footer> -->
</body>
</html>